.Panel{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

#encapsulating{
    display: flex;
    width: 100%;
    height: calc(100% - 54px);
}

#enlarged{
    display: flex;
    margin-bottom: 56px;
    width: 100%;
}

#menu{
    background-color: var(--green);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#menu div{
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#figures{
    width: 83%;
    display: flex;
    flex-direction: column;
}

.row_of_figures{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50%;
}

.row_of_figures div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /*max-width: 50%;*/
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--light-green);
    border-radius: 25px;
}

img{
    max-height: 90%;
    max-width: 90%;
}

.form-label, .mb-3{
    margin-bottom: 0px !important;
}