#label {
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;

    /*special attention grabbing font, yet still professional */
    font-size: 40px;
    font-family: "Consolas";

    width: 640px;

    /*some sweet fading*/
    background: linear-gradient(
            90deg,
            rgba(0,0,0,0) 0%,
            var(--light-green) 20%,
            var(--green) 50%,
            var(--light-green) 80%,
            rgba(0,0,0,0) 100%);

}