#rounded_login_form_container, login_header {
    border-radius: 20px;
    background: var(--green);
    padding: 30px;
    margin-bottom: 76px;
    margin-top: 20px;
}

#login_header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-justify: auto;
    margin-bottom: 20px;
}

/* Applies ONLY to the button in the login form*/
#centering_id .btn-primary {
    /*button colors*/
    /*normal*/
    --bs-btn-bg: var(--vibrant-green);
    --bs-btn-border-color: var(--vgtd);

    /*hover*/
    --bs-btn-hover-bg: var(--vibrant-green-toned-up);
    --bs-btn-hover-border-color: var(--vibrant-green);

    /*clicked*/
    --bs-btn-active-bg: var(--vibrant-green-toned-upx2);
    --bs-btn-active-border-color: var(--vibrant-green-toned-up);

    /*letters*/
    --bs-btn-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-active-color: #000;

