.list-group-item{
    display: flex;
    justify-content: center;
    margin-left: 0;
}
.list-group-item.active{
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    margin-left: 0;
}

#model_label{
    display: flex;
    justify-content: center;
}